@keyframes opacidade {
  from{background-color: #F7ADAF;}
  to{background-color: #F48F94;
    }
}
@keyframes borda {
  from{border-radius: 0;}
  to{}
}
@keyframes tamanho {
  from{}
  to{transform:scale(1.2);}
}
@keyframes scale {
  0%{transform: scale(1.0);}
  5%{transform: scale(1.8);}
  85%{transform: scale(1.8);}
  100%{transform: scale(1.0);}

}
@keyframes mudafoto-TD {
  0%{background-image: url("../imagens/prints/towerDefence-a-pequena.png");}
  20%{background-image: url("../imagens/prints/towerDefence-n-menu-pequena.png");}
  40%{background-image: url("../imagens/prints/towerDefence-n-menufazes-pequena.png");}
  60%{background-image: url("../imagens/prints/towerDefence-n-escolhafazes-pequena.png");}
  80%{background-image: url("../imagens/prints/towerDefence-n-fazeum-pequena.png");}
  100%{background-image: url("../imagens/prints/towerDefence-n-telavitoria-pequena.png");}
}
@keyframes mudafoto-TOF {
  0%{background-image: url("../imagens/prints/TOF-menu-pequena.png");}
  25%{background-image: url("../imagens/prints/TOF-escolhafazes-pequena.png");}
  75%{background-image: url("../imagens/prints/TOF-fazeum-pequena.png");}
  100%{background-image: url("../imagens/prints/TOF-telalevels-pequena.png");}
}
@keyframes mudafoto-FG {
  0%{background-image: url("../imagens/prints/Filosgame-start-pequena.png");}
  75%{background-image: url("../imagens/prints/Filosgame-start2-pequena.png");}
}
