@keyframes opacidade {
  from{background-color: #F7ADAF;}
  to{background-color: #F48F94;
    }
}
@keyframes borda {
  from{border-radius: 0;}
  to{}
}
@keyframes tamanho {
  from{}
  to{transform:scale(1.2);}
}
@keyframes scale {
  0%{transform: scale(1.0);}
  5%{transform: scale(1.8);}
  85%{transform: scale(1.8);}
  100%{transform: scale(1.0);}

}
@keyframes mudafotor-TD {
  0%{background-image: url("../imagens/prints/towerdefence-a-pequena.png");}
  50%{background-image: url("../imagens/prints/towerdefence-n-menu-pequena.png");}
  100%{background-image: url("../imagens/prints/towerdefence-n-menufazes-pequena.png");}
}
@keyframes mudafoto-TOF {
  0%{background-image: url("../imagens/prints/TOF-menu-pequena.png");}
  25%{background-image: url("../imagens/prints/TOF-escolhafazes-pequena.png");}
  75%{background-image: url("../imagens/prints/TOF-fazeum-pequena.png");}
  100%{background-image: url("../imagens/prints/TOF-telalevels-pequena.png");}
}
