@keyframes opacidade {
  from{background-color: #F7ADAF;}
  to{background-color: #F48F94;
    }
}
@keyframes borda {
  from{border-radius: 0;}
  to{}
}
@keyframes tamanho {
  from{}
  to{transform:scale(1.2);}
}
