
body, html {
  width: 100%;
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
.Icon {
  filter: grayscale(100%);
}
.Icon:hover {
  filter: grayscale(0%);
}
header {
  height: 85%;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #F0F8FF;
}
.imagemPassa {
  width: 250px;
  height: 250px;
  border-radius: 25%;
  transition: border-radius 1.5s;
}
.imagemPassa:hover {
  border-radius: 275px;
}
.itensRedondos {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  transition: border-radius 0.5s;
}
.itensRedondos:hover {
  border-radius: 25px;

}
.localItens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-shrink: 1;
  padding: 50px;
  padding-left: 150px;
  padding-right: 150px;
  background-color: #FFFAF0;
}
a {
  font-size: 1.25em;
}

.barTop {
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: baseline;
  width: 100%;
  height: 110px;
  background-color: #322838;
  position: fixed;
}
.barTop > a {
  text-decoration: none;
  text-align: center;
  font-family: 'Gudea', sans-serif;
  font-size: 16pt;
  font-weight: bolder;
  margin: auto;
  color: #FFFFFF;
  transition: color 1s;
}
.barTop > a#Home {
  background-color: #322838;
  border-radius: 10px;
}
.barTop > a:hover {
    color: #646464;
}
.boxImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: : center;
  background-color: #606060;
  height: 100%;
}
.boxImage > h1 {
  font-size: 3.5em;
  color: #ffffff;
  font-family: 'Arsenal', sans-serif;
  padding: 0;
  margin-top: 110px;
  border-top: 5px solid #FFFFFF;
}
.noFundo {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: #28242B;
}
.noFundo > a > img {
  border-radius: 56px;
  width: 56px;
  height: 56px;
  margin: 5px;
  filter: grayscale(100%);
}

.noFundo > a > img:hover {
  filter: grayscale(0%);
}
.intensNomes {
  flex-grow: 5;
  flex-shrink: 5;
}
a#meuNome {
    min-width: 250px;
    margin-right: 500px;
    font-size: 26pt;
}
/*-------------------------ARTIGOS---------------------*/
.sobreEU {
  display: flex;
  flex-direction: column;
  background-color: #3F7299;
  padding: 25px
}
.sobreEU > h1 {
  font-size: 32pt;
  font-family: 'Arsenal', sans-serif;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid red;
}
.sobreEU > h2 {
  font-size: 22pt;
  font-family: 'Arsenal', sans-serif;
  margin-top: 0;
  color: #FFFFFF;
  border-radius: 25px;
  margin: 10px;
  padding: 20px;
}
.sobreAlgo {
  display: flex;
  flex-direction: column;
  background-color: #3F7299;
  padding: 25px
}
.sobreAlgo > h1 {
  background-color: #FFE7E8;
  border-left: 20px solid #E66465;
  font-size: 32pt;
  font-family: 'Arsenal', sans-serif;
  color: #646464;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}
.sobreAlgo > h2 {
  font-size: 22pt;
  font-family: 'Arsenal', sans-serif;
  margin-top: 0;
  color: #FFFFFF;
  border-radius: 25px;
  margin: 10px;
  padding: 20px;
}
/*ANIMATIONS WITH CSS  >>The animation code<<*/

.noTalo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: #322838;
}
.noTalo > h2 {
  text-decoration: none;
  font-family: 'Arsenal', sans-serif;
  font-size: 12pt;
  padding: 2px;
  color: #C0C0C0;
}
/*
.noFundo > a#github:hover {
  background-image: url("imagens/Icone-github-hover.png");
}
*/
.linksFundo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 5px 20% 5px 20%;
}
.linksFundo > h2 {
  text-decoration: none;
  font-family: 'Arsenal', sans-serif;
  font-size: 18pt;
  padding: 2px;
  margin: 0;
  color: #C0C0C0;
}
.linksFundo > a {
  text-decoration: none;
  font-family: 'Arsenal', sans-serif;
  font-size: 12pt;
  padding: 5px;
  color: #696969;
  transition: background-color 1s;
}
.linksFundo > a:hover {
    color: #FFFFFF;
    background-color: #322838;
}
