header {
  height: 85%
}
.boxImage {
  background-color: #5CA47A;
}
.imagemPassa {
  width: 400px;
  height: 400px;
  border-radius: 250px;
}
.galeria {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 300px;
  padding-bottom: 100px;
}
.galeria > h2 > a {
  text-decoration: none;
  font-size: 32pt;
  color: #5CA47A;
  font-family: 'Arsenal', sans-serif;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  border: 2px solid #5CA47A;
  border-radius: 5px;
  transition: background-color 1s;
}
.galeria > h2 > a:hover {
  background-color: #5CA47A;
}
.galeria > img#TowerDefence {
  padding: 0;
  margin: 0;
  width: 700px;
  height: 400px;
  background-repeat: no-repeat;
  animation-name: mudafoto-TD;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 10px;
  filter: grayscale(100%);
}
.galeria > img#TowerDefence:hover {
  filter: grayscale(0%);
}
.galeria > img#TOF {
  padding: 0;
  margin: 0;
  width: 700px;
  height: 400px;
  background-repeat: no-repeat;
  animation-name: mudafoto-TOF;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 10px;
  filter: grayscale(100%);
}
.galeria > img#TOF:hover {
  filter: grayscale(0%);
}
.galeria > img#FG {
  padding: 0;
  margin: 0;
  width: 700px;
  height: 400px;
  background-repeat: no-repeat;
  animation-name: mudafoto-FG;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 10px;
  filter: grayscale(100%);
}
.galeria > img#FG:hover {
  filter: grayscale(0%);
}
.galeria > a {
  text-decoration: none;
  background-color: #5CA47A;
  border-bottom: 5px solid #4a9167;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
  color: #FFFFFF;
  font-family: 'Arsenal', sans-serif;
}
