@charset "UTF-8";

body{
  background-color: #faf0e6;
  color: rgba(0, 0, 0, 1);
}
p {
  text-align: justify;
  text-indent: 50px;
}

figure img {

	  width: 450px;
  	height: 255px;
	  position: relative;
		border: 8px solid white;
		box-shadow: 1px 1px 4px black;

}
nav#menu{
	display: block;

}
 nav#menu ul{
	 list-style: none;
	 text-transform: uppercase;
   position: absolute;
   top:-20px;
   left: 400px;
}
 nav#menu li{
   text-decoration-color: #dc143c;
	 display: inline-block;
   background-color: #ff69b4;
   padding: 20px;
   margin: 2px;
   transition: background-color 2s;
 }
 nav#menu li:hover{
   background-color: #ff1493;
   box-shadow: 2px 2px 2px rgba(0,0,0,.25);

 }
 header{
   background-color:#ffc0cb;
   margin: -10px 10px auto 10px;
   padding: 30px;

 }
